//! **************************************************************************
// Written by: Map P.20131013 on Tue Nov 09 14:58:26 2021
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
CONFIG ENABLE_SUSPEND = FILTERED;
CONFIG POST_CRC = DISABLE;
COMP "AMP_CS" LOCATE = SITE "W6" LEVEL 1;
COMP "DAC_CS" LOCATE = SITE "W7" LEVEL 1;
COMP "SPI_SCK" LOCATE = SITE "AA20" LEVEL 1;
COMP "SW" LOCATE = SITE "T9" LEVEL 1;
COMP "ADC_OUT" LOCATE = SITE "D16" LEVEL 1;
COMP "AD_CONV" LOCATE = SITE "Y6" LEVEL 1;
COMP "SPI_MOSI" LOCATE = SITE "AB14" LEVEL 1;
COMP "CLK_50M" LOCATE = SITE "E12" LEVEL 1;
COMP "DAC_CLR" LOCATE = SITE "AB13" LEVEL 1;
NET "CLK_50M_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
OFFSET = IN 10 ns VALID 20 ns BEFORE COMP "CLK_50M";
OFFSET = OUT 20 ns AFTER COMP "CLK_50M";
SCHEMATIC END;

